$main-color: #B59571;
$map-address-color: #5B5B5B;
$modal-color: #333333;
$subtitle-color: #333333;
$border-button: #ffffff;
$contacts-color: #5B5B5B;
$contacts-text-color: #FFFFFF;
$footer-color: #333333;